<table>
    <tr>
        <th></th>
        <th>User</th>
        <th></th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify</th>
        <th>Done</th>
    </tr>
    {% if all_users %}
    <tr>
        <td>+</td>

        {% for user in all_users %}
            <td>{{ user.username}}</td>
        {% endfor %}

    {% else %}
        <p>Username not available</p>
    {% endif %}
        <td>+</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

