

{% if goals %}
    <ul>
    {% for goal in goals %}
        <!-- <li><a href="/greyscrumy/{{ goal.id }}">{{ goal.goal_description }}</a></li> -->
        <li><a href="{% url 'greyscrumy:Move_Goal' goal.id %}">{{ goal.goal_description }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nothing to display</p>
{% endif %}




<!-- 
<h1>{{ goal.user_id.fullname }}</h1>
<h1>{{ goal.user_id.role }}</h1>
<p>{{ goal.goal_type }}</p>
<p>{{ goal.goal_description }}</p>
<p>{{ goal.date_created }}</p>
<p>{{ goal.date_updated }}</p>
<p>{{ goal.user_id.role }}</p>
<p>{{ goal.status_id.status }}</p> -->