
<html>
<head><title>Page</title></head>
<body>

<div>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-yw4l{vertical-align:top}
        </style>
        <table class="tg">
          <tr>
            <th class="tg-yw4l"></th>
            <th class="tg-yw4l">User</th>
            <th class="tg-yw4l"></th>
            <th class="tg-yw4l">Weekly Goals</th>
            <th class="tg-yw4l">Daily Goals</th>
            <th class="tg-yw4l">Verify</th>
            <th class="tg-yw4l">Done</th>
          </tr>
          <tr>
            <td class="tg-yw4l">+</td>
            <td class="tg-yw4l">{{person.username}}</td>
            <td class="tg-yw4l">+</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
          </tr>
        </table>

        <div>

            {% for users in allusers %}
             
            try:

            {{users.username}}

            {{go}}

            {%endfor%}
        </div>
        Total number of users:  {{counter}}
</div>
</body>
</html>