<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}

li{
	text-align: left;
	 padding: 5px;
}
</style>

<body>
	
	<table width="100%">
		 <tr>
		    <th></th>
		    <th>User</th>
		    <th></th>
		    <th>Weekly Goals</th>
		    <th>Daily Goals</th>
		    <th>Verify</th>
		    <th>Done</th>
		 </tr>


	    <tr>
	  		
	    		<td><a href="{% url 'add_user' %}" style="text-decoration: none;">+</a> </td>
	    		<td>{{user.first_name}}&nbsp {{user.last_name}}</td>
	    		<td><a href="{% url 'add_task' %}" style="text-decoration: none;">+</a> </td>
			    <td>
			    	<ol>

				    	{% for x in userGoal %}
				    		<li>
				    			{{x.goals}}&nbsp&nbsp&nbsp {{x.ScrumyUser.id}}

				    		</li>

				    		
				    	{% endfor %}
				    </ol>
			    </td>
			    <td></td>
			    <td></td>
			    <td>{{size}}</td>
	  </tr>

	  
	</table> 
</body>
</html>