{% extends "odekhiranscrumy/base_layout.html" %}
{% block content %}
<table border="1">

    <thead>
    <th></th>
    <th>User</th>
    <th></th>
    <th>Weekly Goals</th>
    <th>Daily Goals</th>
    <th>Verify</th>
    <th>Done</th>
    </thead>
    <tbody>
    {% for user in username %}
        {% for goal in user.getWeeklyStatus %}
        <tr>

            <td> <a href="{% url 'add_user' %}"> +</a></td>
            <td>  {{ user.username }} </td>
            <td><a href="{% url 'add_tasks' %}"> +</a> </td>
            <td>  {{ goal.task }} </td>
            <td>   </td>
            <td>   </td>
            <td>   </td>

        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}