table{
    border-collapse: collapse;

}



th{
    border: 5px solid #aa0000;
    border-color: #aa0000
    color: #aa0000;
    
 }

td {
	border: 2px solid #aa0000;
    text-align: center;
    

}

.add_href{
	text-decoration: none;
	font-size: 30px;
}


li{
	text-align: left;
}

body{
	margin: 0 100px;
	border: 0;
	padding: 0;
	font-family: Helvetica;
    background: linear-gradient(to right,  #330000,   #aa0000);
}

header{
	width: auto;
	height: 100px;

}


.headerNav{
	background-color: #ffffff;
	float: right;
	height: 30px;
	width: auto;
	margin: 30px 0 0 0;
	padding: 0;
}
nav ul{
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	float: right;
}
nav ul li{
	padding: 5px 10px; 
	margin: 0 10PX;
}
nav ul li a{
	padding: 8px 9px 8px 16px;
	text-decoration: none;
	color: #cc0000;
	font-weight: bolder;
}
nav ul li a:hover{
	background-color: #330000; 
	color: white;
	height: 100px;
}
nav ul li a.active {
    background-color: #330000;
    color: white;
}

.table_bg{
	background-color: #e0e0d1;
}

footer {
    color:white;
    clear:both;
    text-align:center;
    padding:5px;         
}

