<!DOCTYPE html>
<html>
<head>
	<title> All Scrumy Users</title>
	<style>
		table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
		}
		td{
			text-align: center;
		}
	</style>
</head>
<body>
	<table style="width: 100%">
		<tr>
			<th>    </th>
			<th>User</th>
			<th>    </th>
			<th>Weekly Goals</th>
			<th>Daily Goals</th>
			<th>Verified</th>
			<th>Done</th>
		</tr>
		<tr>
			<td>
				<a href="{% url 'add_user' %}">+</a>
			</td>
			<td>
				{% for user in new_user %}
					{% if user.id is 1 %}
						{{user}}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				<a href="{% url 'add_task' %}">+</a>
			</td>
			<td>
				{% for goals in userTarget %}
					{{goals.user_goals}}
				{% endfor %}
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'add_user' %}">+</a>
			</td>
			<td>
				{% for user in new_user %}
					{% if user.id is 2 %}
						{{user}}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				<a href="{% url 'add_task' %}">+</a>
			</td>
			<td></td>
			<td>{% for goals in userTarget1 %}
					{{goals.user_goals}}
				{% endfor %}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'add_user' %}">+</a>
			</td>
			<td>
				{% for user in new_user %}
					{% if user.id is 3 %}
						{{user}}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				<a href="{% url 'add_task' %}">+</a>
			</td>
			<td>
				{% for goals in userTarget2 %}
					{{goals.user_goals}}
				{% endfor %}
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'add_user' %}">+</a>
			</td>
			<td>
				{% for user in new_user %}
					{% if user.id is 4 %}
						{{user}}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				<a href="{% url 'add_task' %}">+</a>
			</td>
			<td></td>
			<td></td>
			<td>
					{% for goals in userTarget3 %}
					{{goals.user_goals}}
				{% endfor %}
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'add_user' %}">+</a>
			</td>
			<td>
				{% for user in new_user %}
					{% if user.id is 5 %}
						{{user}}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				<a href="{% url 'add_task' %}">+</a>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				{% for goals in userTarget4 %}
					{{goals.user_goals}}
				{% endfor %}
			</td>
		</tr>
	</table>
</body>
</html>