{% extends 'fasugbaScrumy/layout.html' %}

{% block title %} View Goals{% endblock %}

{% block content %}


	<table width="100%">
	  <tr>
	    <th colspan="2" style="width: 18%;">User</th>
	    <th colspan="2" style="width: 22%;">Weekly Goals</th>
	    <th style="width: 20%;">Daily Goals</th>
	    <th style="width: 20%;">Verify</th>
	    <th style="width: 20%;">Done</th>
	  </tr>


	  {% for user in users_object %}

	  <tr>
	  	<td><a href="{% url 'add_task' %}" class="add_href" style="width: 3%;">+</a></td>
	  	<td>{{user.id}}.&nbsp{{user.username}}</td>
	  	<td><a href="{% url 'add_task' %}" class="add_href" style="width: 3%;">+</a></td>
	  	<td> <ol> {% for goal in user.scrumygoals_set.all %}{% if goal.scrumy_status.name == "Weekly" %}
	  		<li>{{goal.goals}}  </li>{% endif %}{% endfor %}</ol> </td>
	  	<td> <ol> {% for goal in user.scrumygoals_set.all %}{% if goal.scrumy_status.name == "Daily" %}
	  		<li>{{goal.goals}}  </li>{% endif %}{% endfor %}</ol> </td>
	  	<td> <ol> {% for goal in user.scrumygoals_set.all %}{% if goal.scrumy_status.name == "Verified" %}
	  		<li>{{goal.goals}}  </li>{% endif %}{% endfor %}</ol> </td>
	  	<td> <ol> {% for goal in user.scrumygoals_set.all %}{% if goal.scrumy_status.name == "Done" %}
	  		<li>{{goal.goals}}  </li>{% endif %}{% endfor %}</ol> </td>
	  	
	  </tr>
	  {% endfor %} 			
	  
	</table> 


{% endblock %}