<!DOCTYPE html>
<html>
<head>
	<title>My Task Manager</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<table>
		<tr>
			<th>Name</th>
			<th>Add Task</th>
			<th>Weekly Target</th>
			<th>Daily Target</th>
			<th>Verified</th>
			<th>Done</th>
		</tr>

		<tr>
			<td>rrwrrr</td>
			<td>hdhhddh</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td>hdhdhh</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td><input type="submit" name="Add User" value="Add User"> </td>
		</tr>
	</table>


</body>
</html>