<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scrum App: Add Task</title>
</head>
<body>
    <form method="POST" action="{% url 'move_goal' task_id %}">
      <fieldset>
          <legend>Add Task</legend>
          {% csrf_token %}
          {{move_goal_form}}
          <button type="submit">Add Task</button>
      </fieldset>
  </form>
  
</body>
</html>